@import "../abstracts/mixins";
@import "../abstracts/variables";

body:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.5);
  z-index: 10;
  opacity: 0;
  @include transition(.3);
  pointer-events: none;
}

body.active {
  overflow: hidden;
  &:before {
    opacity: 1;
  }
}

.body-padding {
  padding-top: 150px;
  @media (max-width: $breakpoint-md) {
    padding-top: 100px;
  }
}

.header {
  background: #EDF0F7;
  padding: 9px 140px;
  box-shadow: 0px 4px 30px rgba(188, 188, 188, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 102;
  @media (max-width: $breakpoint-xl) {
    padding: 9px 0;
  }
  & .row {
    align-items: center;
    justify-content: space-between;
  }
  &-control {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &-logo {
    width: 135px;
    display: flex;
    @media (max-width: $breakpoint-lg) {
      width: 80px;
    }
    & img {
      @include defaultIcon(cover);
    }
  }
  &-lang {
    margin-right: 25px;
    @media (max-width: $breakpoint-lg) {
      margin: 20px 0 70px 0;
    }
  }
  &-contact {
    & .btn {
      @media (max-width: $breakpoint-md) {
        font-size: 14px;
        padding: 10px 18px;
      }
    }
  }
}

.navbar {
  margin-right: 10px;
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-lg) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100%;
    margin: 0;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    box-shadow: -6px 11px 11px rgba(255,255,255,0.3); 
    @include transition(.3);
  }
  @media (max-width: $breakpoint-md) {
    width: 60%;
  }
  &.active {
    right: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
  &-item {
    margin: 0 24px;
    @media (max-width: $breakpoint-lg) {
      margin: 20px 0;
    }
    & a {
      position: relative;
      @include transition(.3);
      @media (max-width: $breakpoint-lg) {
        font-size: 40px;
        font-weight: 700;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 26px;
      }
      &:before {
        content: '';
        background: $purpleColor;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        opacity: 0;
        height: 2px;
        @include transition(.3);
      }
      &:hover {
        color: $purpleColor;
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 22;
  @media (max-width: $breakpoint-lg) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 15px;
    display: block;
    width: 25px;
    background: $purpleColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}