@import "../abstracts/mixins";
@import "../abstracts/variables";

body {
  -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
}

.section-heading {
  font-weight: 900;
  font-size: 55px;
  line-height: 1;
  text-align: center;
  width: 100%;
  @media (max-width: $breakpoint-md) {
    font-size: 26px;
  }
}

.purple-bg {
  background: $purpleColor;
  font-weight: 900;
  font-size: 55px;
  color: $whiteColor;
  padding: 12px 26px 4px 26px;
  border-radius: 10px;
  line-height: 1;
  margin: auto;
  position: relative;
  text-align: center;
  @media (max-width: $breakpoint-md) {
    font-size: 26px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    background: url(../img/dot.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    z-index: 2;
    opacity: 0;
  }
  &.bottom-left {
    &:before {
      bottom: -26px;
      left: -23px;
      opacity: 1;
    }
  }
  &.top-left {
    &:before {
      left: -23px;
      top: -19px;
      opacity: 1;
    }
  }
  &.top-right {
    &:after {
      top: -19px;
      right: -23px;
      opacity: 1;
    }
  }
  &.bottom-right {
    &:after {
      bottom: -26px;
      right: -23px;
      opacity: 1;
    }
  }
}

.text-row {
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: auto;
  @media (max-width: $breakpoint-xl) {
    width: 90%;
  }
  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.grey-text {
  color: $greyColor;
}

.black-text {
  color: $defaultText;
}

.section-heading {
  margin-bottom: 15px;
}
.section-subheading {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  @media (max-width: $breakpoint-md) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.section-description {
  text-align: center;
}

.main-screen {
  margin-bottom: 100px;
  overflow: hidden;
  & .purple-bg {
    margin-bottom: 30px;
  }
  &__image {
    padding: 60px 100px 0 100px;
    @media (max-width: $breakpoint-xl) {
      padding: 60px 60px 0 60px;
    }
    @media (max-width: $breakpoint-md) {
      padding: 0;
      margin-top: 40px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
}

.advantages {
  margin-bottom: 120px;
  padding-top: 125px;
  background-image: url('../img/circles.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: initial;
  @media (max-width: $breakpoint-xl) {
    background-size: contain;
    background-position: center top;
  }
  @media (max-width: $breakpoint-md) {
    padding-top: 0;
  }
  &__item {

  }
  &__icon {
    margin-bottom: 35px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
      width: 70px;
      margin: 0 auto 20px auto;
      & img {
        @include defaultIcon(contain);
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
  &__description {
    color: $greyColor;
  }
}

.carousel-row {
  position: relative;
  margin-top: 30px;
  align-items: center;
  @media (max-width: $breakpoint-md) {
    margin: 0 -15px 0 -15px;
  }
  & .swiper-button-prev, & .swiper-button-next {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
.row.mobile-arrows {
  display: none;
  // margin-top: 20px;
  justify-content: center;
  & .swiper-button-prev, & .swiper-button-next {
    position: static;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    &:after {
      font-size: 30px;
    }
    &:hover {
      transform: unset;
    }
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
  }
}
.swiper-container {
  width: 80%;
  height: 100%;
  padding: 30px 20px;
  @media (max-width: $breakpoint-xl) {
    width: 95%;
  }
  @media (max-width: $breakpoint-md) {
    width: 100%;
    padding: 20px 20px;
  }
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.advantages__item {
  box-shadow: 0px 10px 15px #DBDDE2;
  border-radius: 30px;
  padding: 35px 20px 30px 20px;
  height: 100%;
  min-height: 100%;
  background: $whiteColor;
  @media (max-width: $breakpoint-md) {
    padding: 25px 20px 20px 20px;
  }
}


.testimonials {
  margin-bottom: 160px;
  &-carousel {
    // width: 100%;
    height: auto;
  }
  &__item {
    width: 80%;
    margin: auto;
    @media (max-width: $breakpoint-xl) {
      width: 80%;
    }
    @media (max-width: $breakpoint-lg) {
      width: 90%;
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__text {
    font-style: italic;
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-lg) {
      font-size: 24px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 10px;
    & img {
      @include defaultIcon(cover);
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 700;
  }
  &__position {
    color: $greyColor;
  }
}

.features {
  margin-bottom: 120px;
  &__image {
    width: 50%;
    @media (max-width: $breakpoint-xl) {
      width: 55%;
    }
    @media (max-width: $breakpoint-lg) {
      width: 50%;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__content {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
    &.row {
      @media (max-width: $breakpoint-md) {
        margin-top: 20px;
      }
    }
  }
  &__accordion {
    width: 45%;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
      margin-top: 30px;
    }
  }
}

.accordion {
  &-container {

  }
  &__item {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    &.active {
      & .accordion__button {
        background: transparent;
        color: $purpleColor;
      }
      & i {
        background: transparent;
        border-color: $purpleColor;
      }
      & i:before {
        transform: rotate(135deg);
        background: $purpleColor;
      }
      & i:after {
        transform: rotate(225deg);
        background: $purpleColor;
      }
    }
  }
  &__content {
    margin-top: 20px;
    display:none;
    padding: 0 40px 0 0;
    @media (max-width: $breakpoint-md) {
      padding: 0; 
    }
    & p {
      color: $greyColor;
    }
  }
  &__button {
    display: inline-flex;
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: $defaultText;
    font-weight: 900;
    font-size: 35px;
    @include transition(.3);
    justify-content: space-between;
    align-items: center;
    border: 2px solid $purpleColor;
    color: $whiteColor;
    background: $purpleColor;
    @media (max-width: $breakpoint-xl) {
      font-size: 26px;
      padding: 6px 16px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
      padding: 4px 16px;
    }
    & i {
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
      border-radius: 100px;
      position: relative;
      display: block;
      margin-left: 10px;
      border: 2px solid $whiteColor;
      &:before, &:after {
        content: '';
        width: 18px;
        height: 2px;
        position: absolute;
        left: calc(50% - 9px);
        top: calc(50% - 1px);
        background: $whiteColor;
        transform: rotate(90deg);
        @include transition(.3);
      }
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.contact {
  padding-top: 210px;
  margin-bottom: 60px;
  background-image: url('../img/contact-bg.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: initial;
  overflow: hidden;
  @media (max-width: $breakpoint-xl) {
    background-size: contain;
    background-position: center top 30%;
  }
  @media (max-width: $breakpoint-lg) {
    background-position: center top 5%;
    padding-top: 100px;
  }
  @media (max-width: $breakpoint-md) {
    background: unset;
    padding-top: 0;
  }
  & .purple-bg-2 {
    margin-top: 10px;
  }
  &-form {
    margin-top: 40px;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-row {
  justify-content: center;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  & input, & textarea {
    width: 100%;
    border: 2px solid #8033FD;
    border-radius: 10px;
    background: transparent;
    padding: 16px 24px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: $backgroundColor;
    &:focus {
      box-shadow: 5px 6px 7px rgba(128,51,253,.2)
    }
  }
}

.main-screen, .advantages, .testimonials, .features, .contact {
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 60px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 50px;
  }
}

.features {
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 0;
  }
}